@use '@angular/material' as mat;

$teal-palette: (
  50: #e0f2f1,
  100: #b2dfdb,
  200: #80cbc4,
  300: #4db6ac,
  400: #26a69a,
  500: #009688,
  600: #00897b,
  700: #00796b,
  800: #00695c,
  900: #004d40,
  A100: #a7ffeb,
  A200: #64ffda,
  A400: #1de9b6,
  A700: #00bfa5,
  contrast: (
    50: rgba(0,0,0,0.87),
    100: rgba(0,0,0,0.87),
    200: rgba(0,0,0,0.87),
    300: rgba(0,0,0,0.87),
    400: rgba(0,0,0,0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(0,0,0,0.87),
    A200: rgba(0,0,0,0.87),
    A400: rgba(0,0,0,0.87),
    A700: rgba(0,0,0,0.87),
  )
);

$amber-palette: (
  50: #fff8e1,
  100: #ffecb3,
  200: #ffe082,
  300: #ffd54f,
  400: #ffca28,
  500: #ffc107,
  600: #ffb300,
  700: #ffa000,
  800: #ff8f00,
  900: #ff6f00,
  A100: #ffe57f,
  A200: #ffd740,
  A400: #ffc400,
  A700: #ffab00,
  contrast: (
    50: rgba(0,0,0,0.87),
    100: rgba(0,0,0,0.87),
    200: rgba(0,0,0,0.87),
    300: rgba(0,0,0,0.87),
    400: rgba(0,0,0,0.87),
    500: rgba(0,0,0,0.87),
    600: rgba(0,0,0,0.87),
    700: rgba(0,0,0,0.87),
    800: rgba(0,0,0,0.87),
    900: rgba(0,0,0,0.87),
    A100: rgba(0,0,0,0.87),
    A200: rgba(0,0,0,0.87),
    A400: rgba(0,0,0,0.87),
    A700: rgba(0,0,0,0.87),
  )
);

$my-primary: mat.m2-define-palette($teal-palette, 700);
$my-accent: mat.m2-define-palette($amber-palette, A200, A100, A400);
$my-warn: mat.m2-define-palette(mat.$m2-red-palette);

$my-theme: mat.m2-define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0,
));

@include mat.all-component-themes($my-theme);
