html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.error-snackbar {
  background-color: #f44336 !important;
  color: white !important;
}

.success-snackbar {
  background-color: #4caf50 !important;
  color: white !important;
}
